body {
      font-family: Arial;
      color: grey;
     }
h1 {
    border-bottom: 1px solid black;
   }
em {
  font-family: "Cascadia Mono";
}
body{
	background-color: #61649f;
	color: #E9CD4C;
	color: rgba(39,177,182,0.8)
	color #2775b6CC;
}
