body{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  color: #000;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  display: block;
  max-width: 100%;
  margin: 0 auto !important;
  padding: 13% 0;
  height: 165px;
  width: auto;
}

.all-one{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
}

a:link{
  color: #fff;
  text-decoration: none;
}

a:visited{
  color: #fff;
  text-decoration:none;
}

a:hover{
  text-decoration: #fff underline;
}


.tupian{
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  min-height: 1px;
  padding-left:0px;
  padding: auto;
  float: left;
  width: 20%;
  position: relative;
}

.tubiao{
  position: relative;
  padding-right: 0px;
  padding-left: 20px;
  float: right;
  width: 40%;
}



.tubiao1{
  position: relative;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
  background: #c54c00;
  width: 33%;
}

.tubiao2{
  position: relative;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: #3E6041 !important;
  width: 33%;
}

.tubiao3{
  position: relative;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
  background: #006778 !important;
  width: 33%;
}

.tubiao4{
  position: relative;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: #947100  !important;
  width: 33%;
}

.ATENEO{
  position: relative;
  min-height: 1px;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 20px;
  width: 70%;
  background: #5D5949 !important;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff !important;
}

.all-three{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
}

.img-responsive1{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  color: #000;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  display: block;
  max-width: 100%;
  margin: 0 auto !important;
  padding: 13% 0;
  height: 165px;
  width: auto;
}

.tubiao-2{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  position: relative;
  /* vertical-align: middle; */
  border: none;
  display: block;
  margin: 20 auto !important;
  padding: 13% 0;
  height: 60px;
  width: auto;
  float: left;
}

.tubiao5{
  position: relative;
  min-height: 1px;
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}

.tubiao6{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao7{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao8{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao9{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao10{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}