ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
.mdiv {
  /* width: 1200px; */
  margin: auto;
}

.header-logo {
  float: left;
}

.search {
  float: left;
  font-weight: 300;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 5px;
}

.search :active {
  border: 1px #000;
}

.no a {
  text-decoration: none;
}

.largesearch {
  border: 1px solid #822433;
  display: inline-block;
  caret-color: #333;
}

.bigsearch {
  padding-top: 40px;
  float: left;
  margin-right: 40px;
  position: relative;
  top: 10px;
  width: 500px;
}

* {
  box-sizing: border-box;
}

.example {
  width: 150px;
  height: 25px;
  border: 1px solid #822433;
  background-color: #ffffff;
}

.pic {
  float: right;
}

.fangdajing {
  float: right;
}

.searchpeople {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-left: 150px;
  float: left;
}

.searchpeople a {
  text-decoration: none;
  position: relative;
  top: -5px;
}

.jiantou {
  float: left;
  padding-right: 5px;
}

.push {
  display: block;
  float: right;
  background-color: #822433;
  width: 52px;
  height: 55px;
  z-index: 9999;
  right: 10px;
  bottom: 0%;
  position: fixed;
}

nav ul {
  font-weight: 300;
}

nav ul li {
  padding: 10px;
  float: left;
}

nav ul li a:hover {
  background-color: #822433;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: #000;
}

.no:hover {
  text-decoration: none;
}

.header-logo {
  text-decoration: none;
}

.top-footer a {
  text-decoration: none;
  color: #000;
}

.top-footer a:hover {
  border-bottom: 1px solid #000;
}

.top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  min-height: 50px;
  background-color: #fff;
}

.toptop {
  font-size: 18px;
}

.something {
  width: 1200px;
  height: 2000px;
  background-color: aqua;
}



.footer {
  background-color: #822433;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  /* top: 50px; */
  position:relative;
  bottom: 0px;
  top: 110px;
  /* margin-top: 100px; */
}
.footerconcent {
  width: 1200px;
  margin: auto;
}

.top-footer {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  width: 1200px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
}
.search-container {
  margin-top: 50px;
  display: flex;
}
.search-container .search-input {
  border: 1px solid #822433;
  height: 33px;
  padding: 0 3px;
}
.search-input input {
  border: none;
  height: 25px;
  width: 120px;
  font-size: 16px;
  font-weight: 300px;
}
.search-input .search-img {
  vertical-align: middle;
}
.searchpeople {
  margin: 10px 15px 0 15px;
}
.it {
  border: 1px solid #822433;
  width: 50px;
  height: 30px;
}
.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  width: 50px;
  padding: 5px 10px 0px;
  text-align: right;
  font-size: 14px;
  color: #333;
  font-weight: 200;
  display: none;
}
.dropdown-menu a{
  text-decoration: none;
  color: #333;
}
.jiantou-content {
  display: flex;
  align-items: center;
}

.jiantou.hover:hover .dropdown-menu {
  display: block;
}

/* 定义跳动动画 */
@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(-45deg); 
  }
}
.push .down-arrow {
  /* 箭头向下 */
  /* position: absolute;
  top: 10px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: bounceArrow 2s infinite;
  box-sizing: border-box; */

  /* 箭头向上 */
  position: absolute; 
  top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  animation: bounceArrow 2s infinite;
  box-sizing: border-box;
}
/*   */

.mdiv {
  top: 120px;
  position: relative;
}