html{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.all{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive{
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
}

.tupian-1{
  height: 400px;
  padding-bottom: 60px;
}

.Intervento{
    /* text-shadow: 1px 1px 2px #000; */
    /* box-sizing: border-box; */
    /* font-family: inherit; */
    /* color: inherit; */
    /* text-align: left; */
    /* font-weight: 600; */
    /* font-size: 36px; */
    /* line-height: 44px; */
    padding: 20px;
    margin: 423px 0 0px 0px;
}



.tubiao{
  position: relative;
  float: right;
  width: 35%;
}



.tubiao1{
  position: relative;
  float: left;
  width: 40%;
  margin-right: 0px;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #c54c00;
}

.tubiao1-2{
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    padding-bottom: 20px;
    margin: 0;
}

.tubiao2{
  position: relative;
  float: left;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background: #3E6041;
}

.tubiao2-2{
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
}

.tubiao3{
  position: relative;
  float: left;
  width: 40%;
  margin-right: 0px;
  margin-left: 50px;
  padding-bottom: 20px;
  background: #006778 ;
}

.tubiao3-2{
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
}

.tubiao4{
  position: relative;
  float: left;
  width: 40%;
  margin-left: 10px;
  padding-bottom: 20px;
  background: #947100;
}

.tubiao4-2{
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
}

.ATENEO{
  position: relative;
  /* min-height: 1px; */
  float: right;
  margin-top: 20px;
  margin-right: 24px;
  padding-left: 10px;
  padding-right: 35px;
  width: 75%;
  background: #5D5949 ;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
}

.all-three{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
}

.img-responsive1{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5em;
  color: #000;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  display: block;
  max-width: 100%;
  margin: 0 auto !important;
  padding: 13% 0;
  height: 165px;
  width: auto;
}

.tubiao-2{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  position: relative;
  /* vertical-align: middle; */
  border: none;
  display: block;
  margin: 20 auto !important;
  padding: 13% 0;
  height: 60px;
  width: auto;
  float: left;
}

.tubiao5{
  position: relative;
  min-height: 1px;
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}

.tubiao6{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao7{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao8{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao9{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}


.tubiao10{
  position: relative;
  min-height: 1px;
  float: left;
  /* width: 16.66666667%; */
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  padding-bottom: 20px;
  background: #822433;
  color: #fff !important;
}