body{
  font-size: 18px;
  min-height: 100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

.img-responsive{
  padding-bottom: 20px;
  background-color: transparent;
  width: 100%;
  border: none;
  height: 132px;
  width: auto;
  margin: 0 auto;
  padding: 13% 0;
  display: block;
  max-width: 100%;
  border: 0;
  height: 293px;
  width: auto;
}

.qukuai1{
  margin-right: -15px;
  margin-left: -15px;
}

.jiaoshic{
  height: 495px;
  padding-left: 10px;
  padding-right: 10px;
}

.qukuai2{

}

.jst{
  background-image: url;
  /* height:510px; */
}

.ziti h1{
  font-size: 32px;
  line-height: 40px;
  padding: 0;
  color: #fff;
  /* margin: 335px 0 0px 0px; */
}

.shubent{
  background: #c54c00 ;
  padding-bottom: 20px;
  margin-right: 50px;
}

.shubent1{
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.DIDATTICA{
  color: #fff ;
}

.xianweijing{
  padding-left: 10px;
  padding-right: 10px;
  background: #3E6041;
}

.xianweijing1{
  padding-bottom: 20px;
  width: 100%;
}

.RICERCASCIENTIFICA{
  color: #fff ;
}

.qiut{
  padding-left: 10px;
  padding-right: 10px;
  background: hsl(232, 50%, 25%);
}

.qiut1{
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 50%;
}

.INTERNAZIONALE{
  color: #fff ;
}

.shuzhit{
  padding-left: 10px;
  padding-right: 10px;
  background: #947100;
}

.shuzhit1{
  padding-bottom: 20px;
  width: 100%;
}

.qukuai3{
  background-color: #fff;
}

.huise2{
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.tasto-target-h3{
  background: #5D5949;
} 