.all{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.y-qk1{
  /* columns: 2; */
}

.y-tu{
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

.wz{
  width: 500px;
  
}